<div class="contentCards" >

    <div class="subject">
        <div class="title">
            <h1>
                Videos
            </h1>
        </div>
        <div class="feature">
            <a href="">
                Browse all videos
            </a>
        </div>
    </div>

    <div class="cards"  >

        <div class="bigCard" style="background-image: url(https://assets.epicurious.com/photos/5c745a108918ee7ab68daf79/master/pass/Smashburger-recipe-120219.jpg);">
            <div class="fileInfo">
                <div class="fileTitle">
                    apakek
                </div>
                <div class="uploader">Burger</div>
            </div>

            <div class="view">233443 views</div>
        </div>

        <div class="card1" style="background-image: url({{content.image|lowercase}});" *ngFor="let content of contents">
            <div class="cardContainer">
                <div class="uploader">{{content.uploader |lowercase}}</div>
                <div class="view"> {{content.views|number}} views</div>
            </div>
        </div>

        <div class="uploadCard">
            <button class="uploadButton" onclick="document.getElementById('myfile').click()">
                <span class="uploadLogo material-icons">add_circle_outline</span>
                <p>Upload your own video</p>
                <input type="file" id="myfile" style="display: none;" name="myfile">
            </button>
        </div>
    </div>
</div>

